<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/flights/new">ADD Flight</a>
      <a href="/flights">ALL Flights</a>
    </nav>
    <p>Welcome to Your Flights App</p>
   
  </body>
</html>
